# Build folders
build*/
_build*/
cmake-build*/
CMakeFiles*/

# CMake
CMakeUserPresets.json
cmake_install.cmake
CMakeCache.txt

# make
Makefile

#generated
export_shared.h
export_static.h

# IDEs
.idea/
.vs/
.vscode/

# Mac
.DS_Store
